{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

 <main class="main">
    <section>
     <div class="form">
       <h1 class="form-title">Створити заголовок</h1>
       <form method="POST" action="/user-create">
        <div class="page-content">
         <div class="content">
           <label for="email" class="form-label">Email адреса:</label>
           <input type="email" name="email" class="content-input">
         </div>
         <div class="content">
           <label for="login" class="form-label">Нікнейм:</label>
           <input type="text" name="login" class="content-input">
         </div>
         <div class="content">
           <label for="password" class="form-label">Пароль</label>
           <input type="password" name="password" class="content-input">
         </div>
         <button class="content-button">Створити</button>
        </div>
       </form>
     </div>
    </section>
 </main>

<section>
  <main class="form">
    <h1 class="form-title">Список користувачів</h1>
    <div class="user-list">
      {{#with data.users}}
         {{#if isEmpty}}
            <mark>Пустий</mark>
           {{else}}
            <ul>
              {{#each list}}
                <li>{{email}} | {{login}} | {{id}}<a href="/user-delete?id={{id}}">Видалити</a></li>
              {{/each}}
            </ul>
         {{/if}}
      {{/with}}
    </div>
  </main>
 </section>
 <section >
     <div class="form">
       <h1 class="form-title">Оновити пошту користувача</h1>
       <form method="POST" action="/user-create">
        <div class="page-content">
          <div class="content">
           <label for="id" class="form-label">ID:</label>
           <input type="id" name="id" class="content-input">
         </div>
         <div class="content">
           <label for="email" class="form-label">Нова email адреса:</label>
           <input type="email" name="email" class="content-input">
         </div>
         <div class="content">
           <label for="password" class="form-label">Пароль</label>
           <input type="password" name="password" class="content-input">
         </div>
         <button class="content-button">Оновити</button>
        </div>
       </form>
     </div>
    </section>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}
