<form method="POST" action="/purchase-create?id={{id}}" class="main">
    <div class="product">
        <h6 class="message">{{data.message}}</h6>
        <div class="cool">
            <div class="hero-1">{{data.info}}</div>
            <a href="{{data.link}}" class="hero-button">Повернутись назад</a>
        </div>
    </div>
    <div class="product-2">
        <h2 class="title">Товари</h2>
        <p class="user">Комп'ютери та ноутбуки/Комп'ютери, неттопи, моноблоки</p>
    </div>
    <section class="section">
        <div class="hero-2">
            <img src="{{data.img}}" alt="" class="picture-2">
            <div class="map-2">
                <div class="picture-title-3">{{data.title}}</div>
                <div class="divider"></div>
                <div class="picture-description-2">{{data.description}}</div>
                <div class="divider"></div>
                <div class="content">
                   <label for="email" class="form-label">Кількість товару</label>
                   <input type="email" name="email" class="content-input">
                   <a href="/purchase-product?id={{id}}" class="picture-button-3">Купити зараз: 113 109₴</a>
                </div>
            </div>
        </div>
    </section>
    <div class="cool-title">
        <div class="title-main">Інші товари</div>
        <div class="cool-description">Комп'ютери та ноутбуки</div>
    </div>
    <section class="section-2">
        <div class="hero">
            <img src="{{data.img}}" alt="" class="picture">
            <div class="map">
                <div class="picture-title">{{data.title}}</div>
                <div class="picture-description">{{data.description}}</div>
                <div class="buttons">
                    <a href="" class="picture-button">{{data.category}}</a>
                    <a href="" class="picture-button-2">Топ продажів</a>
                    <a href="/purchase-product?id={{id}}" class="picture-button-3">Купити зараз: {{data.price}}</a>
                </div>
            </div>
        </div>
        <div class="hero">
            <img src="{{data.img}}" alt="" class="picture">
            <div class="map">
                <div class="picture-title">Комп'ютер COBRA Advanced (I11F.8.H1S2.15T.13356) Intel</div>
                <div class="picture-description">Intel Core i3-10100F (3.6 - 4.3 ГГц) / RAM 8 ГБ / HDD 1 ТБ + SSD 240 ГБ / GeForce GTX 1050 Ti, 4 ГБ / без ОД / LAN / Linux</div>
                <div class="buttons">
                    <a href="" class="picture-button">Готовий до відправки</a>
                    <a href="" class="picture-button-2">Топ продажів</a>
                    <a href="/purchase-product?id={{id}}" class="picture-button-3">Купити зараз: 17 000₴</a>
                </div>
            </div>
        </div>
        <div class="hero">
            <img src="{{data.img}}" alt="" class="picture">
            <div class="map">
                <div class="picture-title">Комп'ютер ARTLINE Gaming by ASUS TUF v119 (TUFv119)</div>
                <div class="picture-description-3">Intel Core i9-13900KF (3.0 - 5.8 ГГц) / RAM 64 ГБ / SSD 2 ТБ (2 x 1 ТБ) / nVidia GeForce RTX 4070 Ti, 12 ГБ / без ОД / LAN / Wi-Fi / Bluetooth / без ОС</div>
                <div class="buttons">
                    <a href="" class="picture-button">Готовий до відправки</a>
                    <a href="" class="picture-button-2">Топ продажів</a>
                    <a href="/purchase-product?id={{id}}" class="picture-button-3">Купити зараз: 113 109₴</a>
                </div>
            </div>
        </div>
    </section>
    <section class="section-2">
      <div class="product-shadow">
        <h6 class="info">Інформація про замовлення</h6>
        <div class="shadow-id">ID:</div>
        <div class="shadow-number">54872</div>
        <div class="divider-2"></div>
        <div class="box">
            <div class="name">
                <div class="shadow-name">Ім'я:</div>
                <div class="shadow-name-2">Олександр</div>
            </div>
            <div class="name">
                <div class="shadow-name">Прізвище:</div>
                <div class="shadow-name-2">Семенов</div>
            </div>
            <div class="name">
                <div class="shadow-name">Телефон:</div>
                <div class="shadow-name-2">+380951234567</div>
            </div>
            <div class="name">
                <div class="shadow-name">Електронна пошта:</div>
                <div class="shadow-name-2">o.semenov@example.com</div>
            </div>
        </div>
        <div class="divider-2"></div>
        <div class="box-2">
            <div class="name">
              <div class="shadow-name">Назва товару:</div>
              <div class="shadow-name-2">Комп'ютер Artline Gaming (X43v31) AMD Ryzen 5 3600</div>
            </div>
            <div class="name">
               <div class="shadow-name">Коментар:</div>
               <div class="shadow-name-2">Подзвонити за 30 хв</div>
            </div>
        </div>
        <div class="divider-2"></div>
        <div class="box">
            <div class="name">
                <div class="shadow-name">Вартість товарів:</div>
                <div class="shadow-name-2">113 109₴</div>
            </div>
            <div class="name">
                <div class="shadow-name">Вартість доставки:</div>
                <div class="shadow-name-2">150₴</div>
            </div>
            <div class="name">
                <div class="shadow-name">Сума до сплати:</div>
                <div class="shadow-name-2">113 109₴</div>
            </div>
            <div class="name">
                <div class="shadow-name">Нараховані бонуси:</div>
                <div class="shadow-name-2">1131.09₴</div>
            </div>
        </div>
        <div class="divider-2"></div>
        <div class="shadow-button">Змінити дані</div>
      </div>
    </section>
    <section class="avenger">
        <h6 class="avenger-title">Мої замовлення</h6>
        <div class="avenger-box">
            <p class="avenger-id">ID: 14587</p>
            <div class="name-3">
                <div class="avenger-name">Товари</div>
                <div class="avenger-name-2">Футбольний м'яч</div>
            </div>
            <div class="name">
                <div class="avenger-name">Сума замовлення</div>
                <div class="avenger-name-2">1 260.75₴</div>
            </div>
            <div class="name">
                <div class="avenger-name">Нараховані бонуси</div>
                <div class="avenger-name-2">12.60₴</div>
            </div>
        </div>
        <div class="divider-1"></div>
        <div class="avenger-box">
            <p class="avenger-id">ID: 14602</p>
            <div class="name">
                <div class="avenger-name">Товари</div>
                <div class="avenger-name-2">Смартфон Xiaomi Redmi Note 10</div>
            </div>
            <div class="name">
                <div class="avenger-name">Сума замовлення</div>
                <div class="avenger-name-2">5 599.00₴</div>
            </div>
            <div class="name">
                <div class="avenger-name">Нараховані бонуси</div>
                <div class="avenger-name-2">55.99₴</div>
            </div>
        </div>
        <div class="divider-1"></div>
        <div class="avenger-box">
            <p class="avenger-id">ID: 14619</p>
            <div class="name-5">
                <div class="avenger-name">Товари</div>
                <div class="avenger-name-2">Телевізор Samsung 55" 4K Ultra HD</div>
            </div>
            <div class="name-7">
                <div class="avenger-name">Сума замовлення</div>
                <div class="avenger-name-2">22 999.00₴</div>
            </div>
            <div class="name">
                <div class="avenger-name">Нараховані бонуси</div>
                <div class="avenger-name-2">229.99₴</div>
            </div>
        </div>
        <div class="divider-1"></div>
        <div class="avenger-box">
            <p class="avenger-id">ID: 14624</p>
            <div class="name">
                <div class="avenger-name">Товари</div>
                <div class="avenger-name-2">Акустична система JBL Charge 4</div>
            </div>
            <div class="name-8">
                <div class="avenger-name">Сума замовлення</div>
                <div class="avenger-name-2">4 999.00₴</div>
            </div>
            <div class="name">
                <div class="avenger-name">Нараховані бонуси</div>
                <div class="avenger-name-2">49.99₴</div>
            </div>
        </div>
        <div class="divider-1"></div>
        <div class="avenger-box">
            <p class="avenger-id">ID: 14631</p>
            <div class="name-6">
                <div class="avenger-name">Товари</div>
                <div class="avenger-name-2">Фотокамера Canon EOS M50</div>
            </div>
            <div class="name-8">
                <div class="avenger-name">Сума замовлення</div>
                <div class="avenger-name-2">24 750.00₴</div>
            </div>
            <div class="name">
                <div class="avenger-name">Нараховані бонуси</div>
                <div class="avenger-name-2">247.50₴</div>
            </div>
        </div>
    </section>
    <section class="section-2">
      <div class="product-shadow-2">
        <h6 class="info">Зміна данних</h6>
        <div class="shadow-id alert-label">ID:</div>
        <div class="shadow-number right">54872</div>
        <div class="alert">
            <div class="alert-box">
                <div class="alert-section">
                  <label for="" class="alert-label">Прізвище:</label>
                  <input type="text" class="alert-input">
                </div>
                <div class="alert-section">
                  <label for="" class="alert-label">Ім'я:</label>
                  <input type="text" class="alert-input">
                </div>
            </div>
            <div class="alert-box">
                <div class="alert-section">
                  <label for="" class="alert-label">Електронна пошта:</label>
                  <input type="text" class="alert-input">
                </div>
                <div class="alert-section">
                  <label for="" class="alert-label">Телефон:</label>
                  <input type="text" class="alert-input">
                </div>
            </div>
        </div>
        <div class="shadow-button">Зберегти зміни</div>
      </div>
    </section>
    <section class="section-2">
      <div class="product-shadow-2">
        <h6 class="info">Ваше замовлення</h6>
        <div class="margin">
            <div class="price-section">
               <div class="shadow-id right">Комп'ютер Artline Gaming (X43v31) AMD Ryzen 5 3600</div>
               <div class="price">113 109₴</div>
            </div>
            <div class="price-section">
               <div class="shadow-number right">Вартість доставки</div>
               <div class="price">113 109₴</div>
            </div>
        </div>
        <h6 class="space">Оформлення замовлення</h6>
        <div class="alert-2">
            <div class="alert-box">
                <div class="alert-section">
                  <label for="" class="alert-label">Прізвище:</label>
                  <input type="text" class="alert-input">
                </div>
                <div class="alert-section">
                  <label for="" class="alert-label">Ім'я:</label>
                  <input type="text" class="alert-input">
                </div>
            </div>
            <div class="alert-box">
                <div class="alert-section">
                  <label for="" class="alert-label">Електронна пошта:</label>
                  <input type="text" class="alert-input">
                </div>
                <div class="alert-section">
                  <label for="" class="alert-label">Телефон:</label>
                  <input type="text" class="alert-input">
                </div>
            </div>
        </div>
        <div class="alert-section-2">
            <label for="" class="alert-label">Коментар</label>
            <input type="text" class="alert-input case">
        </div>
        <div class="comment">Коментар буде передано кур’єру</div>
        <div class="alert-box">
            <div class="alert-section">
                <label for="" class="alert-label">Списати бонуси</label>
                <input type="text" class="alert-input">
            </div>
            <div class="alert-section">
                <label for="" class="alert-label">Промо-код</label>
                <input type="text" class="alert-input">
            </div>
        </div>
        <div class="price-2">Всього: 113109₴ (+1131,09₴ на бонусний рахунок)</div>
        <p class="shadow-button">Оформити замовлення</p>
      </div>
    </section>
</form>