<main class="main">
    {{#with data.product}}
       <form method="POST" action="/purchase-create?id={{id}}">
         <div class="post">
            <div class="product-info-img">
              <img src="{{img}}" alt="{{title}}" class="post-img">
            </div>
            <div class="product-info">
              <h2 class="product-info-title">{{title}}</h2>
              {{> divider}}
              <p class="product-description">{{description}}</p>
              {{> divider}}
              {{> field label="Кількість товару" type="number" name="amount" value="1"}}
              {{> button text="Купити зараз: 113 109₴" price=price}}
            </div>
         </div>
       </form>
    {{/with}}
    <div class="heading-products">
        {{> heading title="Інші товари" description="Комп'ютери та ноутбуки"}}
    </div>
    <section class="purchase-list">
        <div class="product-cards">
            <div class="picture">
              {{#each data.list}}
                  {{> purchase-product data=this}}
              {{/each}}
            </div>
        </div>
    </section>
</main>