{{#with data}}
   <div class="product-card">
      <div class="card">
           <img src="{{img}}" alt="Товар 1" class="product-card-img">
           <div class="block">
              <h2 class="product-card-title">{{title}}</h2>
              <p class="product-description">{{description}}</p>
           </div>
      </div>
      {{#each category}}
         <span class="product-card__category product-card__category--{{id}}">{{text}}</span>
      {{/each}}
      <a href="/purchase-product?={{id}}">
         <button class="product-card-button">Купити зараз: {{price}} грн</button>
      </a>
   </div>
{{/with}}